.App{
  background-color: #121212;
  color: azure;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

form,input{
  margin: 1rem;
}

.list{
  border :2px wheat solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.done li,button{
  margin: 1rem;
  padding: 5px;
  background-color: bisque;
  color:black

}

button:hover{
  color: white;
  background-color: #121212;
  border: 2px solid bisque;
}